/* p{
    color:red;
    font-size: 25px;
    
}

.jk{
    color:blue;
}

#jk1{
    color:brown;
}
div{
    height:200px;
    width:200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding: 5px;
    margin:10px,200px;
    border: 1px solid red;
} */
div{
    border:2px solid black;
    width:800px;
    height:400px;
    margin:10px;
    padding:10px;
}
.box-model{
    height: 200px;
    width: 600px;
    background-color: yellow;
    text-align: center;
    align-content: center;
    margin: 10px 50px;
    padding: 10px;
    border: 40px solid darkblue;
}

