 /* p{
    color:red;
    font-size: 25px;
    
}

.jk{
    color:blue;
}

#jk1{
    color:brown;
}
div{
    height:200px;
    width:200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding: 5px;
    margin:10px,200px;
    border: 1px solid red;
} */
/* div{
    border:2px solid black;
    width:800px;
    height:400px;
    margin:10px;
    padding:10px;
}
.box-model{
    height: 200px;
    width: 600px;
    background-color: yellow;
    text-align: center;
    align-content: center;
    margin: 10px 50px;
    padding: 10px;
    border: 40px solid darkblue;
} */ 

/* span{
    display: block;
}
div{
    display: inline;
} */



/* .box1{
    
    background-color:  rgb(175, 175, 45);
   
}



.container{
    
    border:2px solid black;
    padding:20px;
    width: 600px;
}
.box{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

.box2{
    background-color: rgb(134, 3, 3);
}
.box3{
    background-color: rgb(124, 151, 185);
} */
/* 
div{
    border: 2px solid black;
    background-color: plum;
    width:500px;
    height: auto;
    
}
p{
    float:inline-end;
} */
 .container{
    display: flex;
    /* flex-direction: column; */
    height: 500px;
    width: 1000px;
    background-color: blueviolet;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .item{
    height: 100px;
    width: 100px; 
    background-color: brown;
    color: white;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    flex-grow: 1;
 }
 .item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
 }