*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: #111;
    color: white;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
.search{
    padding: 8px;
    width: 40%;
    border-radius: 4px;
    border: none;
}
.nav-links a{
color: white;
text-decoration: none;
margin-left: 15px;
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    height: calc(100vh - 60px);
}
.sidebar{
    background: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}
.menu{
    margin-bottom: 25px;
}
.menu h3{
    margin-bottom: 10px;
    font-size: 16px;
}
.menu ul{
    list-style: none;
}
.menu li{
    padding: 6px 0;
    cursor: pointer;
    color: #333;
}
.menu li:hover{
    text-decoration: underline;
}
.content{
    padding: 20px;
}
.content h2{
    margin-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.img {
  width: 100%;
  height: 180px;
  background: #ddd;
  margin-bottom: 10px;
}
.card h4 {
  font-size: 14px;
}

.card p {
  font-size: 12px;
  color: gray;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }

  .search {
    width: 60%;
  }
}